{{ define "main" }}

<div class="hero-image" style="  background-image: url({{`images/backgrounds/index.png`| relURL}});">
    <div class="hero-text">

        <h1 class="text-white font-tertiary" style="text-transform: uppercase;">{{ .Title | safeHTML }}</h1>
    </div>
</div>



<!-- portfolio -->
<section class="section">
    <div class="container">
        <div class="row shuffle-wrapper">
            {{ range .Site.Data.gallery.item }}
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{{range $index, $element:= .eventType }}{{if eq $index 0}} {{else}},{{end}}&quot;{{.type}}&quot;{{ end }}]">
                <div class="position-relative rounded hover-wrapper">
                    {{ range .images}}
                    <img src="{{. | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block"> {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /portfolio -->

{{ end }}